html {
  background-image: url("https://67.media.tumblr.com/a1c71ec2acefc3d1208a02ad5d24fdd1/tumblr_o0r7tcKh6W1upe1ufo1_540.gif");
  background-size: cover;
  background-position: center;
}

h1 {
  font-size: 64px;
  color: #fc9fff;
  line-height: 100%;
  text-align: center;
}